@model  List<ExamApp.Models.UploadedFile>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@if (Model.Count != 0)
{
    foreach (var file in Model)
    {
        <p>Name</p>
        <p>@file.Name</p>
        <p>Description</p>
        <p>@file.Description</p>
        <p><button type="button" onclick="location.href = '@Url.Action("BrowseFile", "Home", new {id=file.Id}, null)'">View</button></p>
        <br /><br />
    }
}
else
{
    <p>Nothing was found.</p>
}